<template>
  <div class="modal" @click.self="reject">
    <div class="modal__body">
      <button class="modal__closer"
              @click="reject"
      >
        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
      </button>
      <div class="modal__header">
        {{ header }}
      </div>
      <hr class="w-full border-t border-gizgray-600 my-4"/>
      <slot></slot>
      <hr class="w-full border-t border-gizgray-600 my-4"/>
      <slot name="buttons" :confirm="confirm">
        <button type="button"
                class="self-end inline-flex items-center py-2 px-4 border border-transparent shadow-sm text-sm leading-4 font-medium rounded-full text-white bg-gray-600 hover:bg-gray-700 transition-colors duration-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
                @click="confirm"
        >
          <!-- Heroicon name: outline/check -->
          <svg xmlns="http://www.w3.org/2000/svg" class="-ml-0.5 mr-2 h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          {{ button }}
        </button>
      </slot>
    </div>
  </div>
</template>

<script>
export default {
  name: "LayoutModal",

  props: {
    header: {
      type: String,
      required: true
    },
    button: {
      type: String,
      default: 'OK'
    }
  },

  emits: {
    confirm: null,
    reject: null
  },

  methods: {
    confirm() {
      this.$emit('confirm');
    },

    reject() {
      this.$emit('reject');
    }
  }
}
</script>

<style lang="scss" scoped>
.modal {
  z-index: 100;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.8);

  &__body {
    position: relative;

    display: flex;
    flex-direction: column;

    min-width: 500px;
    padding: 20px 30px;

    border-radius: 10px;
    background-color: white;
  }

  &__closer {
    position: absolute;
    top: 10px;
    right: 10px;

    padding: 5px;
  }

  &__header {
    font-size: 24px;
  }
}
</style>