<template>
  <section>
    <div class="max-w-xs">
      <label for="wallet" class="block text-sm font-medium text-gray-700">Тикер</label>
      <div class="mt-1 relative rounded-md shadow-md">
        <input type="text" name="wallet" id="wallet"
               class="block w-full pr-10 border-gray-300 text-gray-900 focus:outline-none focus:ring-gray-500 focus:border-gray-500 sm:text-sm rounded-md"
               placeholder="Например DOGE"
               v-model="input"
               @input="validationError = false"
               @keydown.enter="add"
        >
      </div>
      <div v-if="hints.length" class="flex bg-white shadow-md p-1 rounded-md shadow-md flex-wrap">
              <span
                  class="inline-flex items-center px-2 m-1 rounded-md text-xs font-medium bg-gray-300 text-gray-800 cursor-pointer"
                  v-for="hint in hints"
                  @click="hintClick(hint)"
              >{{ hint }}</span>
      </div>
      <div class="text-sm text-red-600"
           v-if="validationError"
      >
        Такой тикер уже добавлен
      </div>
    </div>
    <button type="button"
            class="my-4 inline-flex items-center py-2 px-4 border border-transparent shadow-sm text-sm leading-4 font-medium rounded-full text-white bg-gray-600 hover:bg-gray-700 transition-colors duration-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
            @click="add"
    >
      <!-- Heroicon name: outline/plus -->
      <svg xmlns="http://www.w3.org/2000/svg" class="-ml-0.5 mr-2 h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      Добавить
    </button>
  </section>
</template>

<script>
import {getAllCurrencies} from "@/rest-api";

export default {
  name: "TickerInput",

  props: {
    invalidSymbols: {
      type: Array,
      required: true
    }
  },

  emits: {
    add: (ticker) => typeof ticker === 'object',
    load: null
  },

  data() {
    return {
      input: '',
      currencies: [],
      validationError: false
    }
  },

  async created() {
    this.currencies = await getAllCurrencies();
    this.$emit('load');
  },

  computed: {
    inputUppercase() {
      return this.input.toUpperCase();
    },

    hints() {
      if (this.inputUppercase === '') {
        return [];
      }

      const hints = [];

      for (let i = 0; i < this.currencies.length && hints.length < 4; i++) {
        if (this.currencies[i].name.toUpperCase().includes(this.inputUppercase) ||
            this.currencies[i].symbol.toUpperCase().includes(this.inputUppercase)) {
          hints.push(this.currencies[i].symbol);
        }
      }

      return hints;
    },
  },

  methods: {
    add() {
      if (!this.inputUppercase) {
        return;
      }

      if (this.invalidSymbols.find(symbol => symbol === this.inputUppercase)) {
        this.validationError = true;
        return;
      }

      const ticker = {
        symbol: this.inputUppercase,
        value: '-',
        isValid: true
      }

      this.$emit('add', ticker);

      this.input = '';
      this.validationError = false;
    },

    hintClick(symbol) {
      this.input = symbol;
      this.add();
    },
  }
}
</script>