<template>
  <button type="button"
          class="my-4 inline-flex items-center py-2 px-4 border border-transparent shadow-sm text-sm leading-4 font-medium rounded-full text-white bg-gray-600 hover:bg-gray-700 transition-colors duration-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 disabled:bg-gray-400"
          @click="openModal"
          :disabled="disabled"
  >
    <!-- Heroicon name: outline/trash -->
    <svg xmlns="http://www.w3.org/2000/svg" class="-ml-0.5 mr-2 h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
    </svg>
    Удалить все тикеры
  </button>
  <layout-modal
      v-if="showModal"
      header="Подтверждение"
      @reject="closeModal"
      @confirm="modalConfirm"
  >
    <template #default>
      <div class="slot-default">
            <span class="slot-default__row">
              Вы действительно хотите удалить ВСЕ тикеры?
            </span>
        <span class="slot-default__row">
              Введите <strong class="slot-default__important">{{ $options.CONFIRM_PHRASE }}</strong> для подтверждения
            </span>
      </div>
    </template>
    <template #buttons="{ confirm }">
      <div class="slot-buttons">
        <input type="text" name="filter" id="filter"
               class="block w-32 border-gray-300 text-gray-900 focus:outline-none focus:ring-gray-500 focus:border-gray-500 sm:text-sm rounded-md"
               v-model="input"
               :placeholder="$options.CONFIRM_PHRASE"
        >
        <button type="button"
                class="self-end inline-flex items-center py-2 px-4 border border-transparent shadow-sm text-sm leading-4 font-medium rounded-full text-white bg-gray-600 hover:bg-gray-700 transition-colors duration-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 disabled:bg-gray-400"
                @click="confirm"
                :disabled="!isInputCorrect"
        >
          <!-- Heroicon name: outline/check -->
          <svg xmlns="http://www.w3.org/2000/svg" class="-ml-0.5 mr-2 h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          Подтвердить
        </button>
      </div>
    </template>
  </layout-modal>
</template>

<script>
import LayoutModal from "@/components/LayoutModal";

export default {
  name: "TickerClear",

  CONFIRM_PHRASE: 'УДАЛИТЬ',

  components: {
    LayoutModal
  },

  props: {
    disabled: {
      type: Boolean,
      default: true
    }
  },

  emits: {
    clear: null
  },

  data() {
    return {
      showModal: false,
      input: ''
    }
  },

  computed: {
    isInputCorrect() {
      return this.input === this.$options.CONFIRM_PHRASE;
    }
  },

  methods: {
    openModal() {
      this.showModal = true;
      document.body.classList.add('noscroll');
    },

    closeModal() {
      this.input = '';
      this.showModal = false;
      document.body.classList.remove('noscroll');
    },

    modalConfirm() {
      this.closeModal();
      this.$emit('clear');
    }
  }
}
</script>

<style lang="scss" scoped>
.slot-default {
  &__row {
    display: block;
  }

  &__important {
    background-color: gold;
    font-weight: normal;
  }
}

.slot-buttons {
  display: flex;
  justify-content: space-between;
}
</style>