<template>
  <section>
    <hr class="w-full border-t border-gizgray-600 my-4"/>
    <div class="max-w-xs">
      <label for="filter" class="block text-sm font-medium text-gray-700">Фильтр</label>
      <div class="mt-1 relative rounded-md shadow-md">
        <input type="text" name="filter" id="filter"
               class="block w-full pr-10 border-gray-300 text-gray-900 focus:outline-none focus:ring-gray-500
                         focus:border-gray-500 sm:text-sm rounded-md"
               placeholder="Например DO"
               v-model="filterInput"
               @input="page = 1"
        >
      </div>
    </div>
    <hr class="w-full border-t border-gizgray-600 my-4"/>
    <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-3">
      <div class="bg-white overflow-hidden shadow rounded-lg border-purple-800 border-solid cursor-pointer"
           v-for="(ticker) in paginatedTickers"
           :key="ticker.symbol"
           @click="select(ticker)"
           :class="{'border-4 -m-1': ticker === selected, 'bg-red-100': !ticker.isValid}"
      >
        <div class="px-4 py-5 sm:p-6 text-center">
          <dt class="text-sm font-medium text-gray-500 truncate">
            {{ ticker.symbol }} - USD
          </dt>
          <dd class="mt-1 text-3xl font-semibold text-gray-900">
            {{ normalizeValue(ticker.value) }}
          </dd>
        </div>
        <div class="w-full border-t border-gray-200"></div>
        <button @click.stop="remove(ticker)"
                class="flex items-center justify-center font-medium w-full bg-gray-100 px-4 py-4 sm:px-6 text-md
                    text-gray-500 hover:text-gray-600 hover:bg-gray-200 hover:opacity-20 transition-all
                    focus:outline-none">
          <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#718096"
               aria-hidden="true">
            <path fill-rule="evenodd"
                  d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0
                      100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1
                      1 0 102 0V8a1 1 0 00-1-1z"
                  clip-rule="evenodd"></path>
          </svg>
          Удалить
        </button>
      </div>
    </dl>
    <button type="button"
            class="my-4 mr-2 inline-flex items-center py-2 px-4 border border-transparent shadow-sm text-sm
                leading-4 font-medium rounded-full text-white bg-gray-600 hover:bg-gray-700 transition-colors
                duration-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500
                disabled:bg-gray-400"
            @click="prevPage"
            :disabled="isFirstPage"
    >
      &lt;
    </button>
    <button type="button"
            class="my-4 inline-flex items-center py-2 px-4 border border-transparent shadow-sm text-sm leading-4
                font-medium rounded-full text-white bg-gray-600 hover:bg-gray-700 transition-colors duration-300
                focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 disabled:bg-gray-400"
            @click="nextPage"
            :disabled="isLastPage"
    >
      &gt;
    </button>
  </section>
</template>

<script>
import {deleteFromURL, getFromURL, setToURL} from "@/storage-manager";

export default {
  name: "TickerList",

  props: {
    tickers: {
      type: Array,
      required: true
    },
    selected: {
      type: Object
    }
  },

  emits: {
    remove: (ticker) => typeof ticker === 'object',
    'update:selected': (selected) => typeof selected === 'object' || selected === null,
  },

  data() {
    return {
      filterInput: getFromURL('filter') || '',
      page: getFromURL('page') || 1,
      pageSize: 6
    }
  },

  watch: {
    filterInput() {
      if (this.filterInput) {
        setToURL('filter', this.filterInput);
      } else {
        deleteFromURL('filter');
      }
    },

    page() {
      if (this.page !== 1) {
        setToURL('page', this.page);
      } else {
        deleteFromURL('page');
      }
    },

    tickers(newValue, oldValue) {
      if (newValue.length > oldValue.length) {
        this.filterInput = '';
        this.page = this.lastPage;
      }
    },

    paginatedTickers(value) {
      if (!value.length) {
        this.page = this.lastPage;
      }
    }
  },

  computed: {
    startIndexPage() {
      return (this.page - 1) * this.pageSize;
    },

    endIndexPage() {
      return this.page * this.pageSize - 1;
    },

    lastPage() {
      return Math.max(Math.ceil(this.filteredTickers.length / this.pageSize), 1);
    },

    isFirstPage() {
      return this.page <= 1;
    },

    isLastPage() {
      return this.page >= this.lastPage;
    },

    filteredTickers() {
      return this.tickers.filter(ticker => ticker.symbol.includes(this.filterInput.toUpperCase()));
    },

    paginatedTickers() {
      return this.filteredTickers.slice(this.startIndexPage, this.endIndexPage + 1);
    },
  },

  methods: {
    remove(ticker) {
      if (this.selected === ticker) {
        this.unselect();
      }

      this.$emit('remove', ticker);
    },

    select(ticker) {
      if (this.selected === ticker) {
        this.unselect();
      } else {
        this.$emit('update:selected', ticker);
      }
    },

    unselect() {
      this.$emit('update:selected', null);
    },

    prevPage() {
      if (!this.isFirstPage) {
        this.page--;
      }
    },

    nextPage() {
      if (!this.isLastPage) {
        this.page++;
      }
    },

    normalizeValue(value) {
      if (isFinite(value)) {
        return value > 1 ? value.toFixed(2) : value.toPrecision(2);
      } else {
        return '-';
      }
    }
  }
}
</script>