<template>
  <hr class="w-full border-t border-gizgray-600 my-4"/>
  <section class="relative">
    <h3 class="text-lg leading-6 font-medium text-gray-900 my-8">
      {{ ticker.symbol }} - USD
    </h3>
    <div class="flex items-end border-gray-600 border-b border-l h-64"
         ref="graph"
    >
      <div class="bg-purple-800 border w-10"
           v-for="bar in graphPercent"
           :style="{'height': `${bar}%`, 'width': `${barWidth}`}"
      ></div>
    </div>
    <button type="button" class="absolute top-0 right-0"
            @click="close"
    >
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" x="0" y="0" viewBox="0 0 511.76 511.76">
        <g>
          <path
              d="M436.896,74.869c-99.84-99.819-262.208-99.819-362.048,0c-99.797,99.819-99.797,262.229,0,362.048
                    c49.92,49.899,115.477,74.837,181.035,74.837s131.093-24.939,181.013-74.837C536.715,337.099,536.715,174.688,436.896,74.869z
                    M361.461,331.317c8.341,8.341,8.341,21.824,0,30.165c-4.16,4.16-9.621,6.251-15.083,6.251c-5.461,0-10.923-2.091-15.083-6.251
                    l-75.413-75.435l-75.392,75.413c-4.181,4.16-9.643,6.251-15.083,6.251c-5.461,0-10.923-2.091-15.083-6.251
                    c-8.341-8.341-8.341-21.845,0-30.165l75.392-75.413l-75.413-75.413c-8.341-8.341-8.341-21.845,0-30.165
                    c8.32-8.341,21.824-8.341,30.165,0l75.413,75.413l75.413-75.413c8.341-8.341,21.824-8.341,30.165,0
                    c8.341,8.32,8.341,21.824,0,30.165l-75.413,75.413L361.461,331.317z"
              fill="#718096" data-original="#000000"></path>
        </g>
      </svg>
    </button>
  </section>
</template>

<script>
import {subscribeToTicker, unsubscribeFromTicker} from "@/event-manager";

export default {
  name: "TickerGraph",

  props: {
    ticker: {
      type: Object
    }
  },

  emits: {
    'update:ticker': (ticker) => typeof ticker === 'object' || ticker === null,
  },

  data() {
    return {
      graph: [],
      barWidth: 40
    }
  },

  watch: {
    ticker(newTicker, oldTicker) {
      this.graph = [];
      unsubscribeFromTicker(oldTicker.symbol, this.updateGraph);
      subscribeToTicker(newTicker.symbol, this.updateGraph);
    }
  },

  mounted() {
    subscribeToTicker(this.ticker.symbol, this.updateGraph);
    this.$nextTick().then(this.trimGraph);

    window.addEventListener('resize', this.trimGraph);
  },

  unmounted() {
    unsubscribeFromTicker(this.ticker.symbol, this.updateGraph);
    this.graph = [];

    window.removeEventListener('resize', this.trimGraph);
  },

  computed: {
    graphPercent() {
      if (!this.graph.length) {
        return [];
      }

      const max = Math.max(...this.graph);
      const min = Math.min(...this.graph);
      const range = max - min;

      return this.graph.map(value => {
        return range === 0 ? 50 : (value - min) * 95 / (max - min) + 5;
      });
    }
  },

  methods: {
    trimGraph() {
      const maxGraphLength = Math.floor(this.$refs.graph.clientWidth / this.barWidth);
      if (this.graph.length > maxGraphLength) {
        this.graph = this.graph.slice(this.graph.length - maxGraphLength);
      }
    },

    updateGraph(symbol, newValue, isValid) {
      if (isValid) {
        this.graph.push(newValue);
        this.trimGraph();
      }
    },

    close() {
      this.$emit('update:ticker', null);
    }
  }
}
</script>