<template>
  <div class="container mx-auto flex flex-col items-center bg-gray-100 p-4">
    <ticker-loader v-show="showLoader"></ticker-loader>
    <div class="container">
      <div class="flex flex-row justify-between items-end">
        <ticker-input
            :invalid-symbols="tickersSymbols"
            @add="addTicker"
            @load="showLoader = false"
        ></ticker-input>
        <ticker-clear
            :disabled="!tickers.length"
            @clear="clearTickers"
        ></ticker-clear>
      </div>
      <ticker-list
          v-if="tickers.length"
          :tickers="tickers"
          v-model:selected="selectedTicker"
          @remove="removeTicker"
      ></ticker-list>
      <ticker-graph
          v-if="selectedTicker"
          v-model:ticker="selectedTicker"
      ></ticker-graph>
    </div>
  </div>
</template>

<script>
import TickerLoader from "@/components/TickerLoader";
import TickerInput from "@/components/TickerInput";
import TickerList from "@/components/TickerList";
import TickerGraph from "@/components/TickerGraph";
import TickerClear from "@/components/TickerClear";

import {subscribeToTicker, unsubscribeFromTicker} from "@/event-manager";
import {setToLocalStorage, getFromLocalStorage} from "@/storage-manager";

export default {
  name: 'App',

  components: {
    TickerClear,
    TickerLoader,
    TickerGraph,
    TickerList,
    TickerInput
  },

  data() {
    return {
      showLoader: true,
      tickers: getFromLocalStorage('tickers') || [],
      selectedTicker: null,
    }
  },

  created() {
    this.tickers.forEach(ticker => subscribeToTicker(ticker.symbol, this.updateTickerValue));
  },

  computed: {
    tickersSymbols() {
      return this.tickers.map(ticker => ticker.symbol);
    }
  },

  methods: {
    updateTickerValue(symbol, newValue, isValid) {
      const ticker = this.tickers.find(t => t.symbol === symbol);
      ticker.value = newValue;
      ticker.isValid = isValid;
    },

    addTicker(ticker) {
      this.tickers = [...this.tickers, ticker];

      setToLocalStorage('tickers', this.tickers);
      subscribeToTicker(ticker.symbol, this.updateTickerValue);
    },

    removeTicker(ticker) {
      this.tickers = this.tickers.filter(t => t.symbol !== ticker.symbol);

      setToLocalStorage('tickers', this.tickers);
      unsubscribeFromTicker(ticker.symbol, this.updateTickerValue);
    },

    clearTickers() {
      this.tickers.forEach(ticker => {
        unsubscribeFromTicker(ticker.symbol, this.updateTickerValue);
      });

      this.tickers = []
      setToLocalStorage('tickers', this.tickers);
    },
  }
}
</script>